:{$PORT} {
  log stderr {
    format console
  }

  root * /srv/browser  # <--- Change this line from 'root * /srv' to 'root * /srv/browser'
  try_files {path} {path}/index.html =404
  file_server

  handle_errors {
    respond "404 - Not Found" 404
  }
}
